body{
  background: url("http://samdani.com.bd/assets/bulkUpload/DSC-0083.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height:100vh;
  width:100vw;
}
div{
  height:4em;
  width:4em;
  border:1px solid black;
  border-radius:50%;
  background-color:red;
  position:relative;
  top:3em;
  left:7.4em;
  animation:
  bounce 15s linear infinite alternate, 
  color 15s linear infinite alternate;
}

@-moz-keyframes bounce {
/*1*/     0%   {left:7.4em;top:3em;}
/*2*/     7%   {left:15em;top:6em;}
/*3*/     11%  {left:18em;top:9em;}
/*4*/     16%  {left:23em;top:18em;}
/*5*/     18%  {left:24em;top:22em;height:4em;width:4em;}
/*6*/     21%  {left:27em;top:29em;height:5em;width:3em;-moz-transform:rotate(-15deg);}
/*7*/     23%  {left:26.8em;top:34.4em;height:3em;width:7em;-moz-transform:rotate(0deg);}

/*8*/     27%  {left:28em;top:25em;height:5em;width:4em;-moz-transform:rotate(90deg);}
/*9*/     34%  {left:30em;top:20em;height:4em;width:4em;-moz-transform:rotate(0deg);}
/*10*/    40%  {left:32em;top:14em;}
/*11*/    46%  {left:34em;top:13.96em;}
/*12*/    52%  {left:35em;top:12em;}
/*13*/    58%  {left:41em;top:15em;}
/*14*/    64%  {left:44em;top:22em;}
/*15*/    67%  {left:45em;top:30em;height:5em;width:4em;-moz-transform:rotate(-15deg);}
/*16*/    70%  {left:47em;top:34.4em;height:7em;width:4em;-moz-transform:rotate(105deg);}

/*17*/    77%   {left:47em;top:32em;height:5em;width:4em;-moz-transform:rotate(-15deg);}
/*18*/    79%   {left:47em;top:28em;height:4em;width:4em;-moz-transform:rotate(0deg);}
/*19*/    82%   {left:48em;top:25em;}
/*20*/    86%   {left:49.5em;top:23em;}
/*21*/    90%   {left:50em;top:20em;}
/*22*/    94%   {left:53em;top:25em;}
/*23*/    98%   {left:55em;top:30em;}
/*24*/    100%   {left:51.5em;top:34.4em;}

}
@-moz-keyframes color{
  25% {background-color:red;}
  50% {background-color:yellow;}
  75% {background-color:blue;}
  100% {background-color:red;}
}
